.follow-btn {
  @extend %heading--14;

  width: 128px;
  padding: rem(7) rem(10);
  background-color: $black;
  border: 1px solid $white;
  border-radius: 20px;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  transition: transform 0.1s;
  cursor: default;
}
