.play-btn {
  @extend %heading--14;

  width: 128px;
  padding: rem(7) rem(10);
  border: 1px solid $red;
  border-radius: 20px;
  background-color: $red;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  transform: scale(1);
  transition: all 0.1s;

  &:hover {
    transform: scale(1.03);
    background-color: lighten($red, 10%);
  }
}
