%wrapper-style {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include media('above-tablet') {
    padding: 0 25px;
  }

  @include media('below-tablet') {
    padding: 0 15px;
  }
}

.wrapper-s {
  @extend %wrapper-style;

  max-width: 750px;
}
