/* ------------------------------------
 *  Color
 * --------------------------------- */
$black: #1a1a1a;
$black-light: #4b3434;

$white: #fff;
$red: #964a4d;
$pink: #e5b4b7;
$gray: #707070;

/* ------------------------------------
 *  Font
 * --------------------------------- */
$weight-400: 400;
$weight-500: 500;
$weight-900: 900;
