/* ------------------------------------
 *  Color
 * --------------------------------- */
$white: #fff;
$black: #000;

$red: #d0021b;
$red-lighter: #f7f0f0;

$orange: #f5a623;
$orange-light: #fff2dc;

$blue: #4a90e2;
$hoverBlue:#3982d7;
$darkBlue: #00408b;

$gray: #c8c8c8;
$gray-light: #e1e1e1;
$gray-lighter: #f2f2f2;
$gray-dark: #757575;

/* ------------------------------------
 *  Font
 * --------------------------------- */
$weight-400: 400;
$weight-500: 500;
